Django==1.7
argparse==1.2.1
colorama==0.2.5
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.1
html5lib==0.99999999
psycopg2==2.4.5
pycurl==7.19.3
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
static3==0.5.1
urllib3==1.7.1
wsgiref==0.1.2
