{% load staticfiles %}
<!DOCTYPE html>
<html class="full" lang="pt-br">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Victor Pedro">

    <title>Anuário UFRRJ</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}" />

    <!-- Custom CSS -->
    <link href=" {% static 'yearbook/style/login.css' %} " rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <div class="background-blur"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Anuário</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    {# <div class="row"> #}
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
            {% if success %}
                
            {% endif %}
            <form class="form-group {% if not success %}has-error{% endif %} form-login"  action="{% url 'login_submit' %}"method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{next}}" name="next">
                <div class="login-text">
                    <h3>Bem Vindo</h3>
                </div>
                {% if not success %}
                    <label for="userName" class="control-label">Usuário ou Senha errados</label>
                {% else %}
                    <label for="userName" class="control-label">Usuario e Senha do admin do Django</label>
                {% endif %}
                <input type="text" id="userName" 
                    name="username" class="form-control input-lg chat-input" placeholder="Usuário"
                    value="{% if username %}{{username}}{% endif %}"/>
                </br>
                <input type="password" id="userPassword" name="password" class="form-control input-lg chat-input" placeholder="Senha" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <button class="btn btn-primary btn-md" onclick="submit()">Entrar <i class="fa fa-sign-in"></i></button>
                        {# <a href="#" class="btn btn-primary btn-md">Entrar <i class="fa fa-sign-in"></i></a> #}
                    </span>
                </div>
            </form>
        
        </div>
    {# </div> #}

    <!-- Put your page content here! -->

    <!-- jQuery -->
    <script type="text/javascript">var success = '{{success}}';</script>
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

</body>

</html>
